{% extends 'base.html.twig' %}

{% block title %}Page Annonce{% endblock %}

{% block main %}
    <h1>Page Annonce</h2>
    {% for a in annonce %}
        <h2>{{ a.title }}</h2>
        <p>{{ a.description }}</p>
        <p>{{ a.price }}</p>
        <a href="{{ path('annonce_item', {'id': a.id}) }}">Voir l'annonce</a>
    {% endfor %}
{% endblock %}
